<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fase 3</title>
</head>
<body>
<div class="container">
  <div><a routerLink="/fases"><i class="bi bi-chevron-left"></i></a></div>
  <div class="content">
    <h3><strong>FASE 3</strong></h3>
    <img src="assets/level3/3a.png" alt="Capa fase 3">
    <p>
      Nos níveis anteriores utilizamos cartões para representar o sistema binário,
      você recorda? O zero (0) quando o cartão estava virado para baixo e o um (1) quando
      estava virado para cima.
    </p>
  </div>
  <div><a routerLink="/fase-3-2"><i class="bi bi-chevron-right"></i></a></div>
</div>
</body>
</html>
