body {
  background-color: var(--white-gray);
}

.container {
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 2em;
  margin-bottom: 1rem;
}

.header {
  width: 100%;
  height: 10%;
  color: var(--dark-blue);
  font-size: 3rem;
}

.content {
  background-color: var(--white-gray);
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.level-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

}

.level {
  background-color: var(--light-blue);
  border-radius: 10px;
  width: 60%;
  height: 20%;
  margin: 1rem;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.level a {
  display: flex;
  justify-content: center;
  color: var(--dark-blue);
  align-items: center;
  gap: 12%;
  text-decoration: none;
  text-align: start;
}

.level a img {
  width: 20%;
  margin: 0.5rem
}

.description {
  width: 200px;
  margin: 0;
}

p {
  margin: 0.5rem 0;
}

.description :first-child {
  font-size: 2rem;
}

.description :nth-child(2) {
  font-size: 1.5rem;
}

.bi {
  font-size: 2rem;
}

@media(max-width: 770px) {
  .level a img {
    width: 30%;
  }
  .description {
    width: 100px;
  }
  .level {
    width: 90%;
  }
}
