<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Seleção de fase</title>
</head>
<body>
  <div class="container">
    <div class="header"><strong>Seleção de fase</strong></div>
    <div class="content">
      <div class="level-group">
        <div class="level">
          <a routerLink="/fase-1-1">
            <img src="assets/levels/level1.png" alt="">
            <div class="description">
              <p><strong>FASE 1</strong></p>
              <p>Introdução ao sistema binário</p>
            </div>
            <i class="bi bi-chevron-right"></i>
          </a>
        </div>
        <div class="level">
          <a routerLink="/fase-2-1">
            <img src="assets/levels/level2.png" alt="">
            <div class="description">
              <p><strong>FASE 2</strong></p>
              <p>Aprendendo a contar</p>
            </div>
            <i class="bi bi-chevron-right"></i>
          </a>
        </div>
        <div class="level">
          <a href="">
            <img src="assets/levels/level3.png" alt="">
            <div class="description">
              <p><strong>FASE 3</strong></p>
              <p>Trabalhando com números binários</p>
            </div>
            <i class="bi bi-chevron-right"></i>
          </a>
        </div>
        <div class="level">
          <a href="">
            <img src="assets/levels/level4.png" alt="">
            <div class="description">
              <p><strong>FASE 4</strong></p>
              <p>Mensagem secreta com binários</p>
            </div>
            <i class="bi bi-chevron-right"></i>
          </a>
        </div>

        <div class="level">
          <a href="">
            <img src="assets/levels/level5.png" alt="">
            <div class="description">
              <p><strong>FASE 5</strong></p>
              <p>Correio eletrônico e modens</p>
            </div>
            <i class="bi bi-chevron-right"></i>
          </a>
        </div>
        <div class="level">
          <a href="">
            <img src="assets/levels/level6.png" alt="">
            <div class="description">
              <p><strong>FASE 6</strong></p>
              <p>Contar acima de 31</p>
            </div>
            <i class="bi bi-chevron-right"></i>
          </a>
        </div>
        <div class="level">
          <a href="">
            <img src="assets/levels/level7.png" alt="">
            <div class="description">
              <p><strong>FASE 7</strong></p>
              <p>Mais sobre números binários</p>
            </div>
            <i class="bi bi-chevron-right"></i>
          </a>
        </div>
        <div class="level">
          <a href="">
            <img src="assets/levels/level8.png" alt="">
            <div class="description">
              <p><strong>FASE 8</strong></p>
              <p>De que se trata tudo isso?</p>
            </div>
            <i class="bi bi-chevron-right"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
