<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fase 6</title>
</head>
<body>
<div class="container">
  <div><a routerLink="/fase-6-1"><i class="bi bi-chevron-left"></i></a></div>
  <div class="content">
    <h3><strong>FASE 6</strong></h3>
    <img src="assets/level6/6b.png" alt="Capa fase 6">
    <p>
      Ao total teremos 32 números. (Não se esqueça, zero também é um número!).
      Se o dedo estiver para cima, é um, e, se estiver para baixo, é zero.
      Você pode contar de 0 a 1023 se usar as duas mãos! São 1024 números!
    </p>
  </div>
  <div><a routerLink="/fase-6-3"><i class="bi bi-chevron-right"></i></a></div>
</div>
</body>
</html>
