<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fase 8</title>
</head>
<body>
<div class="container">
  <div><a routerLink="/fases"><i class="bi bi-chevron-left"></i></a></div>
  <div class="content">
    <h3><strong>FASE 8</strong></h3>
    <img src="assets/level8/8c.png" alt="Capa fase 8">
    <p>
      Quando os dados devem ser transmitidos por uma linha telefônica ou
      enlace de rádio, tons de alta e baixa frequência são utilizados para
      os zeros e uns. Em discos magnéticos (disquetes e discos rígidos) e
      fitas, os bits são representados pela direção de um campo magnético
      sobre uma superfície revestida, podendo ser norte-sul ou sul-norte.
    </p>
  </div>
  <div><a routerLink="/fase-8-4"><i class="bi bi-chevron-right"></i></a></div>
</div>
</body>
</html>
