<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fase 1</title>
</head>
<body>
<div class="container">
  <div><a routerLink="/fases"><i class="bi bi-chevron-left"></i></a></div>
  <div class="content">
    <h3><strong>FASE 1</strong></h3>
    <img src="assets/level1/bin-1.png" alt="1 em binário">
    <p>
      Podemos usar cartões com pontos para representar números utilizando o sistema numérico
      binário, que só aceita 1s e 0s. Quando os cartões são exibidos com os seus pontos, o
      cartão é representado por 1 (um).
    </p>
  </div>
  <div><a routerLink="/fase-1-2"><i class="bi bi-chevron-right"></i></a></div>
</div>
</body>
</html>
