<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fase 4</title>
</head>
<body>
<div class="container">
  <div><a routerLink="/fase-4-1"><i class="bi bi-chevron-left"></i></a></div>
  <div class="content">
    <h3><strong>FASE 4</strong></h3>
    <img src="assets/level4/4b.png" alt="Capa fase 4">
    <p>
      Tom olha em volta para ver o que poderia usar. Então, ele tem uma
      brilhante ideia: utilizar as lâmpadas da árvore de Natal para enviar
      uma mensagem! Ele coletou todas as lâmpadas disponíveis e as conectou
      aos bocais de forma que pudesse acendê-las ou apagá-las.
    </p>
  </div>
  <div><a routerLink="/fase-4-3"><i class="bi bi-chevron-right"></i></a></div>
</div>
</body>
</html>
