body {
  background-color: var(--light-blue);
}

.container {
  width: 100%;
}

.content {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container div img {
  margin-top: 1rem;
  width: 35%;
}

h2 {
  color: var(--dark-blue);
  padding: 0.5rem;
  font-weight: 700;
  margin: 1rem 0 0 0;
  font-size: 1.6rem;
}

h3 {
  color: var(--dark-blue);
  font-size: 1.4rem;
  margin: 0 0 2rem 0;
}

.btn {
  width: 350px;
  height: 50px;
  background-color: var(--dark-blue);
  margin: 1.5rem 0;
  box-shadow: 0 8px 5px #07377a3f;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0;
}

@media(max-width: 1600px) {
  .container div img {
    margin-top: 6rem;
    width: 50%;
  }
}

@media(max-width: 1198px) {
  .container div img {
    margin-top: 6rem;
    width: 70%;
  }
}

@media(max-width: 994px) {
  .container div img {
    margin-top: 6rem;
    width: 70%;
  }
}

@media(max-width: 777px) {

  .container div img {
    margin-top: 6rem;
    width: 80%;
  }

  h2 {
    font-size: 1.4rem;
  }
  h3 {
    font-size: 1rem;
  }

  .btn {
    width: 300px;
    font-size: 1.2rem;
  }
}
