<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fase 4</title>
</head>
<body>
<div class="container">
  <div><a routerLink="/fases"><i class="bi bi-chevron-left"></i></a></div>
  <div class="content">
    <h3><strong>FASE 4</strong></h3>
    <img src="assets/level4/4a.png" alt="Capa fase 4">
    <p>
      Tom está preso no último andar de uma loja. É noite de Natal e ele quer
      ir para casa. O que ele pode fazer? Ele tentou chamar alguém, até mesmo
      gritar, mas não funcionou. Do outro lado da rua ele pode ver uma pessoa
      ainda trabalhando até tarde da noite.
    </p>
  </div>
  <div><a routerLink="/fase-4-2"><i class="bi bi-chevron-right"></i></a></div>
</div>
</body>
</html>
