<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fase 8</title>
</head>
<body>
<div class="container">
  <div><a routerLink="/fase-8-7"><i class="bi bi-chevron-left"></i></a></div>
  <div class="content">
    <h3><strong>FASE 8</strong></h3>
    <img src="assets/level8/8h.png" alt="Capa fase 8">
    <p>
      Obrigado por finalizar o Computação Plugada Binários. Seu feedback é
      muito importante. Ajude-nos preenchendo o formulário de avaliação
      disponível no botão abaixo e aproveite para conhecer os outros
      aplicativos da nossa família!
    </p>

    <div class="answer-table row justify-content-center w-100">
      <a href="https://docs.google.com/forms/d/e/1FAIpQLSfHwHxwJIHMpt66TnKUSUx0wovQdUZixebkwR8pldKDyl7rcw/viewform?usp=send_form" target="_blank">Formulário de avaliação</a>
      <button routerLink="/fase-8-9" type="button" class="btn btn-primary col-md-5 col-sm-3 btn-block">Finalizar</button>
    </div>
  </div>
</div>
</body>
</html>
