.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.content {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container div img {
  width: 30%;
}

h3 {
  color: var(--dark-blue);
  margin: 1rem 0 2rem 0;
}

p {
  color: var(--dark-blue);
  width: 35%;
  height: 300px;
  text-align: justify;
  margin-top: 2rem;
  font-size: 1.2rem;
  margin-bottom: 0;
}

a {
  color: var(--dark-blue);
  text-align: center;
  font-size: 1.2rem;
}

.bi {
  color: var(--dark-blue);
  font-size: 3rem;
  position: absolute;
  top: 50%;
}

.answer-table {
  margin-top: 0.8rem;
  }

.btn {
  background-color: var(--dark-blue);
  margin-top: 0.5rem;
  font-size: 1.2rem;
  padding-inline:  10px;
  padding-block: 10px;
}

@media(max-width: 991px) {
  .container div img {
    width: 35%;
  }
  p {
    width: 40%;
    font-size: 1.2rem;
  }
  .bi {
    font-size: 2rem;
  }
}

@media(max-width: 767px) {
  .container div img {
    width: 60%;
  }
  p {
    width: 60%;
    font-size: 1rem;
  }
  .bi {
    font-size: 1.8rem;
  }
}

@media(max-width: 484px) {
  .container div img {
    width: 60%;
  }
  p {
    width: 70%;
    font-size: 0.8rem;
  }
  .bi {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 515px) {
  p {
    font-size: 1rem;
  }

  a {
    font-size: 1rem;
  }

  .bi {
    font-size: 1.5rem;
    top: 40%;
  }

  .btn {
    font-size: 1rem;
  }

}
