.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.content {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container div img {
  width: 25%;
}

h3 {
  color: #07377A;
  margin: 1rem 0 2rem 0;
}

p {
  color: #07377A;
  width: 25%;
  text-align: justify;
  margin-top: 2rem;
  font-size: 1.2rem;
}

.bi {
  color: #07377A;
  font-size: 3rem;
}
