<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fase 8</title>
</head>
<body>
<div class="container">
  <div><a routerLink="/fase-8-5"><i class="bi bi-chevron-left"></i></a></div>
  <div class="content">
    <h3><strong>FASE 8</strong></h3>
    <img src="assets/level8/8f.png" alt="Capa fase 8">
    <p>
      A velocidade de um computador depende do número de bits que este pode
      processar de uma só vez. Por exemplo, um computador de 32 bits pode
      processar números de 32 bits em uma única operação, ao passo que um
      computador de 16 bits divide os números de 32 bits em partes menores,
      o que o torna mais lento.
    </p>
  </div>
  <div><a routerLink="/fase-8-7"><i class="bi bi-chevron-right"></i></a></div>
</div>
</body>
</html>
