@import '~bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700&display=swap');

html {
  height: 100vh;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  width: 100vw;
  margin: 0;
}

:root {
  --dark-blue: #07377A;
  --light-blue: #90CCFF;
  --white-gray: #E5E5E5;
  --answer-red: #EF5350;
  --answer-green: #00E676;
}
