body {
  background-color: var(--light-blue);
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.content img {
  width: 30%;
}

.content {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h3 {
  color: var(--dark-blue);
  margin: 1rem 0;
}

p {
  color: var(--dark-blue);
  width: 45%;
  text-align: center;
  margin: 1rem;
  font-weight: bold;
  font-size: 1.2rem;
}

.bi {
  color: var(--dark-blue);
  font-size: 3rem;
  position: absolute;
  top: 50%;
}

.answer-table {
  margin-top: 0.8rem;
  }

.btn {
  background-color: var(--dark-blue);
  margin-top: 0.5rem;
  font-size: 1.2rem;
  padding-inline:  10px;
  padding-block: 10px;
}

.btn:hover, .btn:active, .btn:focus {
  background-color: var(--dark-blue);
}

.correct {
  background-color: var(--answer-green);
}

.correct:hover, .correct:focus {
  background-color: var(--answer-green);
}

.incorrect {
  background-color: var(--answer-red);
}

.incorrect:hover, .incorrect:focus {
  background-color: var(--answer-red);
}

@media only screen and (max-width: 515px) {
  p {
    font-size: 1rem;
  }

  .container img {
    width: 80% !important;
  }

  .bi {
    font-size: 1.5rem;
    top: 40%;
  }

  .btn {
    font-size: 1rem;
  }

}
