<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fase 2</title>
</head>
<body>
<div class="container">
  <div><a routerLink="/fases"><i class="bi bi-chevron-left"></i></a></div>
  <div class="content">
    <h3><strong>FASE 2</strong></h3>
    <img src="assets/level2/2a.png" alt="Capa fase 2">
    <p>
      Então, você achava que sabia contar? Bem. aqui está uma nova forma de fazer isso!
      Sabia que os computadores utilizam apenas zeros e uns?
      Tudo o que você vê ou ouve no computador - palavras, imagens, números, filmes e
      até mesmo o som - são armazenados usando apenas estes dois numerais!
    </p>
  </div>
  <div><a routerLink="/fase-2-2"><i class="bi bi-chevron-right"></i></a></div>
</div>
</body>
</html>
