<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fase 3</title>
</head>
<body>
  <div class="container">
    <div><a routerLink="/fase-3-2"><i class="bi bi-chevron-left"></i></a></div>
    <div class="content">
      <h3><strong>FASE 3</strong></h3>

      <img src="assets/level3/l3q1.png" alt="Referência fase 3" *ngIf="imageRef == 1">
      <img src="assets/level3/l3q2.png" alt="Referência fase 3" *ngIf="imageRef == 2">
      <img src="assets/level3/l3q3.png" alt="Referência fase 3" *ngIf="imageRef == 3">
      <img src="assets/level3/l3q4.png" alt="Referência fase 3" *ngIf="imageRef == 4">
      <img src="assets/level3/l3q5.png" alt="Referência fase 3" *ngIf="imageRef == 5">
      <img src="assets/level3/l3q6.png" alt="Referência fase 3" *ngIf="imageRef == 6">
      <img src="assets/level3/l3q7.png" alt="Referência fase 3" *ngIf="imageRef == 7">
      <img src="assets/level3/l3q8.png" alt="Referência fase 3" *ngIf="imageRef == 8">
      <img src="assets/level3/l3q9.png" alt="Referência fase 3" *ngIf="imageRef == 9">
      <img src="assets/level3/l3q10.png" alt="Referência fase 3" *ngIf="imageRef == 10">

      <p class="w-75" [innerHTML]="question"></p>
      <div class="row justify-content-center w-100 mt-3" [formGroup]="answer">
        <input type="text" class="answer-input col-md-5 col-sm-3 mb-4 d-block" id="answer" #answerValue formControlName="text" maxlength="10" placeholder="Digite aqui">
        <div class="w-100"></div>
        <button type="button" class="btn btn-primary col-md-5 col-sm-3 btn-block" [ngClass]="[btnClass1]" (click)="changeAnswers(answerValue.value)">Enviar</button>
      </div>
    </div>
  </div>
  <app-toast aria-live="polite" aria-atomic="true" ></app-toast>
</body>
</html>
